@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-900 antialiased;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-gray-950 text-gray-800;
  }
}